---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main class="four-container">
    <h1>Looks like you're lost</h1>
    <a href="/">Take me back</a>
  </main>
</Layout>
