---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main id="about-container">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="./miami2.jpg" alt="story" />
        </figure>
        <div class="article-body">
          <h2>Our Story</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="./repair.jpg" alt="mission" />
        </figure>
        <div class="article-body">
          <h2>Our Mission</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>
  </main>
</Layout>
