---
import Layout from "../layouts/Layout.astro";
import Button2 from "../components/buttons/Button2";
---

<Layout title="Byte Bros">
  <main id="about-container">
    <article>
      <div class="article-wrapper">
        <figure>
          <img
            src="https://hips.hearstapps.com/hmg-prod/images/miami-beach-ocean-drive-historic-district-royalty-free-image-1662581783.jpg"
            alt="story"
          />
        </figure>
        <div class="article-body">
          <h2>Our Story</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <!-- <Button2 contents="Read more" /> -->
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img
            src="https://hips.hearstapps.com/hmg-prod/images/miami-beach-ocean-drive-historic-district-royalty-free-image-1662581783.jpg"
            alt="story"
          />
        </figure>
        <div class="article-body">
          <h2>Our Mission</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <!-- <Button2 contents="Read more" /> -->
        </div>
      </div>
    </article>
  </main>
</Layout>
