---
import Layout from "../layouts/Layout.astro";
import Button2 from "../components/buttons/Button2";
---

<Layout title="Byte Bros">
  <main id="about-container">
    <div class="about-text">
      <h2>Testimonials</h2>
      <div class="testimonials">
        <div class="card" style="--rating:90">
          <div class="icon1">🫡</div>
          <div class="title">Mr. 1</div>
          <p class="description">
            "lorem ipsum dolor sit amet consectetur adipisicing elit."
          </p>
          <div class="rating"></div>
        </div>
        <div class="card" style="--rating:80">
          <div class="icon1">😤</div>
          <div class="title">Mr. 2</div>
          <p class="description">
            "lorem ipsum dolor sit amet consectetur adipisicing elit."
          </p>
          <div class="rating"></div>
        </div>
        <div class="card" style="--rating:100">
          <div class="icon1">🥶</div>
          <div class="title">Mr. 3</div>
          <p class="description">
            "lorem ipsum dolor sit amet consectetur adipisicing elit."
          </p>
          <div class="rating"></div>
        </div>
      </div>
    </div>
  </main>
</Layout>
