---
import Layout from "../layouts/Layout.astro";
import Button2 from "../components/buttons/Button2";
---

<Layout title="Byte Bros">
  <main class="container">
    <form class="contact-form">
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Name</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Email</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Business Name</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Location</label>
        <div class="underline"></div>
      </div>
      <div class="input-container">
        <input type="text" id="input" required="" />
        <label for="input" class="label">Message</label>
        <div class="underline"></div>
      </div>
      <Button2 contents="Send" />
    </form>
    <h3>--- OR ---</h3>
    <a href="https://calendly.com/jacobhandwerger/30-minute-meeting-clone"
      >Book a Meeting</a
    >
  </main>
</Layout>
