---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main>
    <h1>Contact Byte Bros</h1>
    <form>
      <label>Name</label>
      <input />
      <label>Email</label>
      <input />
      <label>Business Name</label>
      <input />
      <label>Location</label>
      <!-- Use google location API -->
      <input />
      <label>Message</label>
      <input />
      <button class="btn"> Send →</button>
    </form>
    <h3>--- OR ---</h3>
    <a href="https://calendly.com/jacobhandwerger/30-minute-meeting-clone"
      >Book a Meeting</a
    >
  </main>
</Layout>
