---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main id="contact-container">
    <form method="post" action="/api/clients" class="contact-form">
      <div>
        <div class="input-container">
          <input type="text" id="name" name="name" required />
          <label for="input" class="label">Name</label>
          <div class="underline"></div>
        </div>
        <div class="input-container">
          <input type="email" id="email" name="email" required />
          <label for="input" class="label">Email</label>
          <div class="underline"></div>
        </div>
        <div class="input-container">
          <input type="text" id="businessName" name="businessName" required />
          <label for="input" class="label">Business Name</label>
          <div class="underline"></div>
        </div>
        <div class="input-container">
          <input type="text" id="location" name="location" placeholder="" required />
          <label for="input" class="label">Location</label>
          <div class="underline"></div>
        </div>
        <div class="input-container">
          <input type="text" id="message" name="message" required />
          <label for="input" class="label">Message</label>
          <div class="underline"></div>
        </div>
        <button type="submit" class="cta">
          <span class="hover-underline-animation">Send</span>
          <svg
            viewBox="0 0 46 16"
            height="10"
            width="30"
            xmlns="http://www.w3.org/2000/svg"
            id="arrow-horizontal"
          >
            <path
              transform="translate(30)"
              d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
              data-name="Path 10"
              id="Path_10"></path>
          </svg>
        </button>
      </div>
      <div class="line-separator"></div>
      <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/jacobhandwerger?primary_color=007bff"
        style="min-width:320px;height:500px;"
      >
      </div>
    </form>
  </main>
</Layout>
<style>
  .hover-underline-animation:after {
    width: 140%;
    background-color: #007bff;
  }
</style>
