---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main id="home-container">
    <div class="home-top">
      <div class="home-text-img">
        <div class="home-text-top">
          <h1>Your Tech, Our Expertise</h1>
          <h1>Focus on<span class="home-span">Selling</span></h1>
          <a href="/contact" class="button-blue-cta">
            Contact Now
            <svg fill="currentColor" viewBox="0 0 24 24" class="icon-blue-btn">
              <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
            </svg>
          </a>
        </div>
          <img class="home-icon" src="./icon.svg" />
      </div>
      <div class="trusted-companies">
        <h3 class="trusted-heading">Trusted By</h3>
        <div class="company-icons">
          <img
            class="company-img"
            src="./company1.png"
            alt="new tech wholesalers llc"
          />
          <img
            class="company-img"
            src="./company2.png"
            alt="buyers for points"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  function handleIntersection(entries: any, observer: any) {
    entries.forEach((entry: any) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("fade-in");
        observer.unobserve(entry.target);
      }
    });
  }
  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: "0px",
    threshold: 1,
  });
  const cards = document.querySelectorAll(".card");
  cards.forEach((card) => {
    observer.observe(card);
  });
</script>
