---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main id="home-container">
    <div class="home-top">
      <h1 class="home-text-h1">
        Company Catchprase <span class="home-span">Action Word</span>
      </h1>
      <div class="image-container">
        <img src="./icon.svg" />
      </div>
      <div class="trusted-companies">
        <h3 class="trusted-heading">Trusted by these companies</h3>
        <div class="company-icons">
          <img class="company-img" src="./company1.png" alt="new tech wholesalers llc" />
          <img class="company-img" src="./company2.png" alt="buyers for points" />
          <!--  -->
        </div>
      </div>
    </div>
    <div class="testimonials">
      <div class="card" style="--rating:90">
        <div class="icon1">🫡</div>
        <div class="title">Mr. 1</div>
        <p class="description">
          "lorem ipsum dolor sit amet consectetur adipisicing elit."
        </p>
        <div class="rating"></div>
      </div>
      <div class="card" style="--rating:80">
        <div class="icon1">😤</div>
        <div class="title">Mr. 2</div>
        <p class="description">
          "lorem ipsum dolor sit amet consectetur adipisicing elit."
        </p>
        <div class="rating"></div>
      </div>
      <div class="card" style="--rating:100">
        <div class="icon1">🥶</div>
        <div class="title">Mr. 3</div>
        <p class="description">
          "lorem ipsum dolor sit amet consectetur adipisicing elit."
        </p>
        <div class="rating"></div>
      </div>
    </div>
  </main>
</Layout>

<script>
  function handleIntersection(entries: any, observer: any) {
    entries.forEach((entry: any) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("fade-in");
        observer.unobserve(entry.target);
      }
    });
  }
  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: "0px",
    threshold: 1,
  });
  const cards = document.querySelectorAll(".card");
  cards.forEach((card) => {
    observer.observe(card);
  });
</script>
