---
import Layout from "../layouts/Layout.astro";
import Button2 from "../components/buttons/Button1";
---

<Layout title="Byte Bros">
  <main id="home-container">
    <div class="home-top">
      <h1>Company Catchprase <span class="home-span">Action Word</span></h1>
      <div class="image-container">
        <img src="./fix.svg" alt="fix" />
      </div>
      <div class="trusted-companies">
        <h3 class="trusted-heading">Trusted by these companies</h3>
        <div class="company-icons">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M2.027 17.023c.061-.098.156-.105.289-.02c3.035 1.76 6.338 2.645 9.906 2.645c2.381 0 4.73-.447 7.051-1.332l.262-.117c.115-.051.195-.084.244-.109c.189-.074.326-.037.438.109c.102.143.076.279-.1.4c-.213.158-.5.342-.84.545c-1.037.619-2.203 1.098-3.492 1.441a14.815 14.815 0 0 1-3.77.508c-1.889 0-3.68-.33-5.369-.99a14.875 14.875 0 0 1-4.531-2.797c-.084-.061-.125-.123-.125-.184c0-.039.016-.074.041-.109l-.004.01zm5.479-5.189c0-.84.207-1.555.619-2.152c.414-.592.977-1.041 1.703-1.346c.666-.281 1.465-.48 2.43-.602c.326-.037.861-.086 1.6-.145v-.31c0-.773-.084-1.299-.248-1.564c-.252-.359-.65-.541-1.203-.541h-.15c-.4.039-.746.162-1.039.383a1.51 1.51 0 0 0-.564.916c-.049.25-.172.387-.361.426l-2.105-.264c-.209-.051-.311-.15-.311-.326c0-.037.006-.074.018-.123c.209-1.078.715-1.881 1.52-2.404c.814-.514 1.752-.814 2.828-.875h.451c1.379 0 2.469.361 3.244 1.076c.115.123.227.25.34.398c.1.139.188.264.234.377c.063.111.127.275.164.475c.051.213.088.352.113.426c.023.086.051.25.064.514c.006.262.016.41.016.461v4.406c0 .314.049.602.137.865c.088.26.174.451.262.563l.428.561a.598.598 0 0 1 .111.303c0 .102-.049.188-.148.26c-1.002.877-1.553 1.352-1.639 1.428c-.137.113-.313.125-.525.039a5.397 5.397 0 0 1-.439-.414l-.258-.291c-.051-.063-.141-.174-.266-.352l-.25-.363c-.676.74-1.338 1.205-2.002 1.393c-.414.125-.914.188-1.529.188c-.926 0-1.701-.285-2.303-.863c-.598-.576-.9-1.389-.9-2.453l-.043-.063l.001-.007zm3.131-.367c0 .475.117.852.355 1.139c.236.285.563.428.965.428c.035 0 .088-.008.16-.018c.078-.012.111-.02.141-.02c.512-.133.902-.461 1.189-.982a2.62 2.62 0 0 0 .299-.758c.076-.268.1-.494.111-.666c.016-.166.016-.453.016-.84v-.451c-.703 0-1.24.049-1.604.148c-1.063.303-1.604.977-1.604 2.029l-.029-.016v.007zm7.646 5.865c.025-.051.063-.092.109-.143c.301-.201.596-.342.877-.416a6.597 6.597 0 0 1 1.344-.201c.117-.01.234 0 .346.025c.539.051.873.141.977.273c.053.078.074.191.074.328v.125c0 .426-.117.926-.348 1.502s-.553 1.041-.963 1.402c-.061.049-.115.074-.164.074c-.025 0-.051 0-.074-.01c-.076-.037-.09-.1-.055-.201c.451-1.051.672-1.787.672-2.201c0-.127-.025-.227-.074-.289c-.119-.137-.457-.217-1.02-.217a9.42 9.42 0 0 0-.727.039c-.303.041-.582.078-.834.115c-.074 0-.123-.014-.15-.037c-.025-.025-.031-.039-.018-.064c0-.014.006-.025.018-.053v-.049l.01-.002z"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M19.665 16.811a10.316 10.316 0 0 1-1.021 1.837c-.537.767-.978 1.297-1.316 1.592c-.525.482-1.089.73-1.692.744c-.432 0-.954-.123-1.562-.373c-.61-.249-1.17-.371-1.683-.371c-.537 0-1.113.122-1.73.371c-.616.25-1.114.381-1.495.393c-.577.025-1.154-.229-1.729-.764c-.367-.32-.826-.87-1.377-1.648c-.59-.829-1.075-1.794-1.455-2.891c-.407-1.187-.611-2.335-.611-3.447c0-1.273.275-2.372.826-3.292a4.857 4.857 0 0 1 1.73-1.751a4.65 4.65 0 0 1 2.34-.662c.46 0 1.063.142 1.81.422s1.227.422 1.436.422c.158 0 .689-.167 1.593-.498c.853-.307 1.573-.434 2.163-.384c1.6.129 2.801.759 3.6 1.895c-1.43.867-2.137 2.08-2.123 3.637c.012 1.213.453 2.222 1.317 3.023a4.33 4.33 0 0 0 1.315.863c-.106.307-.218.6-.336.882zM15.998 2.38c0 .95-.348 1.838-1.039 2.659c-.836.976-1.846 1.541-2.941 1.452a2.955 2.955 0 0 1-.021-.36c0-.913.396-1.889 1.103-2.688c.352-.404.8-.741 1.343-1.009c.542-.264 1.054-.41 1.536-.435c.013.128.019.255.019.381z"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M7.021 12.111V8.004h1.001v2.525c.493-.586 1.17-.756 1.838-.756c1.118 0 2.361.754 2.361 2.383c0 .195-.014.381-.051.559c.2-.797 1.063-1.09 2.418-1.123c.426-.016.914-.016 1.302-.016v-.111c0-.738-.464-1.039-1.276-1.039c-.602 0-1.04.25-1.09.676H12.46c.113-1.076 1.253-1.352 2.242-1.352c.889 0 1.666.225 2.017.852l-.365-.702h1.177l1.716 3.443l1.716-3.445H22l-3.105 6.098h-1.124l.894-1.703l-1.945-3.656c.108.213.167.465.167.777v2.055c0 .289.009.574.034.838h-.931a5.478 5.478 0 0 1-.038-.639c-.503.613-1.103.803-1.937.803c-1.236 0-1.897-.652-1.897-1.416c0-.125.013-.236.031-.338c-.251 1.041-1.135 1.74-2.31 1.74c-.727 0-1.414-.262-1.837-.775c0 .201-.013.412-.033.611h-.986c.018-.324.034-.713.034-1.037v-.877H2.985c.054.914.683 1.451 1.547 1.451c.599 0 1.131-.25 1.309-.775h1.035c-.2 1.078-1.344 1.439-2.329 1.439c-1.789.018-2.582-.973-2.582-2.301c0-1.463.819-2.428 2.602-2.428c1.409 0 2.445.738 2.454 2.342v.004zm7.627.153c-.915.027-1.479.193-1.479.793c0 .389.301.809 1.09.809c1.052 0 1.615-.574 1.615-1.514v-.109c-.376 0-.826.006-1.239.02h.011l.002.001zm-5.059 1.564c.927 0 1.566-.672 1.566-1.686s-.642-1.686-1.58-1.686c-.928 0-1.578.672-1.578 1.686s.639 1.686 1.565 1.686h.027zM5.958 11.73c-.037-.939-.714-1.291-1.44-1.291c-.788 0-1.414.395-1.516 1.291h2.956z"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="m11.953 8.819l-.547 2.19c.619.154 2.529.784 2.838-.456c.322-1.291-1.673-1.579-2.291-1.734zm-.822 3.296l-.603 2.415c.743.185 3.037.921 3.376-.441c.355-1.422-2.029-1.789-2.773-1.974z"
            ></path><path
              fill="currentColor"
              d="M14.421 2.299C9.064.964 3.641 4.224 2.306 9.581C.97 14.936 4.23 20.361 9.583 21.697c5.357 1.335 10.783-1.924 12.117-7.281c1.336-5.356-1.924-10.781-7.279-12.117zm1.991 8.275c-.145.974-.686 1.445-1.402 1.611c.985.512 1.485 1.298 1.009 2.661c-.592 1.691-1.998 1.834-3.87 1.48l-.454 1.82l-1.096-.273l.447-1.794a44.624 44.624 0 0 1-.875-.228l-.449 1.804l-1.095-.275l.454-1.823c-.257-.066-.517-.136-.782-.202L6.87 15l.546-1.256s.808.215.797.199c.311.077.448-.125.502-.261l.719-2.875l.115.029a.864.864 0 0 0-.114-.037l.512-2.053c.013-.234-.066-.528-.511-.639c.018-.011-.797-.198-.797-.198l.291-1.172l1.514.378l-.001.005c.227.057.461.111.7.165l.449-1.802l1.097.273l-.44 1.766c.294.067.591.135.879.207l.438-1.755l1.097.273l-.449 1.802c1.384.479 2.396 1.195 2.198 2.525z"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="100"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M18.344 8.71c-.707 0-1.279.572-1.279 1.278v4.53a1.278 1.278 0 1 0 2.558 0v-4.53c0-.706-.572-1.278-1.279-1.278zm-12.688 0c-.707 0-1.279.572-1.279 1.278v4.53a1.278 1.278 0 1 0 2.558 0v-4.53A1.277 1.277 0 0 0 5.656 8.71zm8.889-3.809l.768-1.388a.343.343 0 0 0-.133-.47a.344.344 0 0 0-.471.135l-.789 1.42c-.588-.235-1.236-.368-1.92-.368s-1.332.132-1.92.367l-.789-1.418a.344.344 0 0 0-.471-.135a.345.345 0 0 0-.133.47l.768 1.388C8.072 5.69 7.148 7.099 7.148 8.71c0 .011 0 .021.002.034c-.002.006-.002.013-.002.019v.001h9.703V8.71c.001-1.611-.923-3.019-2.306-3.809zM9.76 6.869a.346.346 0 1 1 .005-.693a.346.346 0 0 1-.005.693zm4.48 0a.347.347 0 0 1 0-.692a.346.346 0 0 1 0 .692zM7.148 16.12c0 .646.525 1.171 1.174 1.171h.586v2.401a1.279 1.279 0 0 0 2.558 0v-2.401h1.066v2.401c0 .707.572 1.278 1.277 1.278c.709 0 1.281-.571 1.281-1.278v-2.401h.586c.648 0 1.174-.524 1.174-1.171V9.028H7.148v7.092z"
            ></path></svg
          >
        </div>
      </div>
    </div>
    <article>
      <div class="article-wrapper">
        <figure>
          <img
            src="https://hips.hearstapps.com/hmg-prod/images/miami-beach-ocean-drive-historic-district-royalty-free-image-1662581783.jpg"
            alt="story"
          />
        </figure>
        <div class="article-body">
          <h2>Our Story</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <Button2 contents="Read more" />
        </div>
      </div>
    </article>

    <article>
      <div class="article-wrapper">
        <figure>
          <img
            src="https://hips.hearstapps.com/hmg-prod/images/miami-beach-ocean-drive-historic-district-royalty-free-image-1662581783.jpg"
            alt="story"
          />
        </figure>
        <div class="article-body">
          <h2>Our Mission</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante,
            euismod sed lacus sit amet, congue bibendum eros. Etiam mattis
            lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
          <Button2 contents="Read more" />
        </div>
      </div>
    </article>
  </main>
</Layout>
