---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Byte Bros">
  <main>
    <h1>Byte Bros Services</h1>
    <h3>What we offer:</h3>
    <ul>
      <li>repair</li>
      <li>repair</li>
      <li>repair</li>
    </ul>
    <h3>Who we serve</h3>
    <ul>
      <li>customer</li>
      <li>customer</li>
      <li>customer</li>
    </ul>
  </main>
</Layout>
