body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

nav {
    height: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

/* BUTTONS */

.btn1 {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #000;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #ff6700;
}

.btn1:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #00c3ff;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn1:hover {
    background-color: #ff6700;
    color: #fff;
    box-shadow: 0 2px 0 2px #000;
}

.btn1:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn1:active {
    transform: scale(0.9);
}

/*  */

.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover {
    cursor: pointer;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 140%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6700;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}