---
interface Props {
  title: string;
}
import "../main.css";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Byte Bros Website"
      content="Byte Bros is a company offering a variety of services ..."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Byte Bros</title>
  </head>
  <body>
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
    <script
      async
      src=`https://maps.googleapis.com/maps/api/js?key=${import.meta.env.GOOGLE_LOCATION_API_KEY}&libraries=places&callback=initMap`
    ></script>
    <script>
      function initializeAutocomplete() {
        const input = document.getElementById("location");
        const options = {
          types: ["geocode"],
        };
        const autocomplete = new google.maps.places.Autocomplete(
          input,
          options
        );
      }
      document.addEventListener("DOMContentLoaded", initializeAutocomplete);
    </script>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async></script>
  </body>
</html>
